In [1]:
import pandas as pd
import numpy as np
import seaborn as sn
import pandas_profiling
from  sklearn.preprocessing import  LabelEncoder
import matplotlib.pyplot as plt

In [2]:
athletes=pd.read_csv("tokyo/athletes.csv")
medal=pd.read_csv("tokyo/medals.csv")

In [3]:
print(athletes.shape)
print(medal.shape)

(4527, 9)
(2142, 7)

In [4]:
athletes=athletes.drop(["Date of Birth","Age"],axis=1)

In [5]:
athletes.head()

,Name,Country,CountryCode,Sport,Sport-code,Gender,Age.1
0,AAJIM Munkhbat,Mongolia,MGL,Judo,JUD,Male,32
1,ABARZA Alberto,Chile,CHI,Swimming,SWM,Male,36
2,ABASLI Namig,Azerbaijan,AZE,Judo,JUD,Male,23
3,ABASSI Mostefa,Algeria,ALG,Wheelchair Basketball,WBK,Male,43
4,ABBAD Abderraouf,Algeria,ALG,Wheelchair Basketball,WBK,Male,34

In [6]:
medal.head()

,Country,CountryCode,Name,Sport,Sport-short,Event,Medal
0,Czech Republic,CZE,DRAHONINSKY David,Archery,ARC,Men's Individual - W1,Gold Medal
1,People's Republic of China,CHN,HE Zihao,Archery,ARC,Men's Individual Compound - Open,Gold Medal
2,United States of America,USA,MATHER Kevin,Archery,ARC,Men's Individual Recurve - Open,Gold Medal
3,People's Republic of China,CHN,CHEN Minyi,Archery,ARC,Women's Individual - W1,Gold Medal
4,Great Britain,GBR,PATERSON PINE Phoebe,Archery,ARC,Women's Individual Compound - Open,Gold Medal

In [7]:
data=pd.DataFrame()

In [8]:
data['Name']=athletes['Name']
allnames=list(data['Name'])
data['Sex']=athletes['Gender']
data['Age']=athletes['Age.1']
data['Team']=athletes['Country']
data["Games"]="2020 Summer"
data["Year"]="2020"
data['Season']="Summer"
data['Sport']=athletes['Sport']
data['Medal']=0

In [9]:
data.head(10)

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,AAJIM Munkhbat,Male,32,Mongolia,2020 Summer,2020,Summer,Judo,0
1,ABARZA Alberto,Male,36,Chile,2020 Summer,2020,Summer,Swimming,0
2,ABASLI Namig,Male,23,Azerbaijan,2020 Summer,2020,Summer,Judo,0
3,ABASSI Mostefa,Male,43,Algeria,2020 Summer,2020,Summer,Wheelchair Basketball,0
4,ABBAD Abderraouf,Male,34,Algeria,2020 Summer,2020,Summer,Wheelchair Basketball,0
5,ABDALLA Ashraf,Male,47,Egypt,2020 Summer,2020,Summer,Sitting Volleyball,0
6,ABOUELYAZEID Mohamed,Male,42,Egypt,2020 Summer,2020,Summer,Sitting Volleyball,0
7,ABDELALI Samiha,Female,32,Algeria,2020 Summer,2020,Summer,Wheelchair Basketball,0
8,ABDELAZIZ Gihan,Female,46,Egypt,2020 Summer,2020,Summer,Powerlifting,0
9,ELKHARSA Ahmed,Male,23,Egypt,2020 Summer,2020,Summer,Sitting Volleyball,0

In [10]:
names=list(medal['Name'])
medals=list(medal['Medal'])
l=[]
for i in allnames:
    if (i in names):
        index=names.index(i)
        value=medals[index]
        l.append(value)
    else:
        l.append(np.NaN)
data['Medal']=l

In [11]:
data.head()

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,AAJIM Munkhbat,Male,32,Mongolia,2020 Summer,2020,Summer,Judo,NaN
1,ABARZA Alberto,Male,36,Chile,2020 Summer,2020,Summer,Swimming,Gold Medal
2,ABASLI Namig,Male,23,Azerbaijan,2020 Summer,2020,Summer,Judo,Bronze Medal
3,ABASSI Mostefa,Male,43,Algeria,2020 Summer,2020,Summer,Wheelchair Basketball,NaN
4,ABBAD Abderraouf,Male,34,Algeria,2020 Summer,2020,Summer,Wheelchair Basketball,NaN

In [12]:
data['Medal'].fillna(value=0, inplace=True)
data['Medal']=data['Medal'].replace('Gold Medal',3)
data['Medal']=data['Medal'].replace('Silver Medal',2)
data['Medal']=data['Medal'].replace('Bronze Medal',1)

In [13]:
data

,Name,Sex,Age,Team,Games,Year,Season,Sport,Medal
0,AAJIM Munkhbat,Male,32,Mongolia,2020 Summer,2020,Summer,Judo,0
1,ABARZA Alberto,Male,36,Chile,2020 Summer,2020,Summer,Swimming,3
2,ABASLI Namig,Male,23,Azerbaijan,2020 Summer,2020,Summer,Judo,1
3,ABASSI Mostefa,Male,43,Algeria,2020 Summer,2020,Summer,Wheelchair Basketball,0
4,ABBAD Abderraouf,Male,34,Algeria,2020 Summer,2020,Summer,Wheelchair Basketball,0
...,...,...,...,...,...,...,...,...,...
4522,ZURABIANI Zurab,Male,21,Georgia,2020 Summer,2020,Summer,Judo,0
4523,ZURBRUGG Lindsey,Female,22,United States of America,2020 Summer,2020,Summer,Wheelchair Basketball,1
4524,ZVINOWANDA Vimbai,Female,29,Zimbabwe,2020 Summer,2020,Summer,Athletics,0
4525,ZWOUKHI Fathi,Male,34,Tunisia,2020 Summer,2020,Summer,Triathlon,0
4526,ZYLKA Krzysztof,Male,41,Poland,2020 Summer,2020,Summer,Table Tennis,0

In [14]:
data.to_csv("2020_tokyo_olympics.csv")